* {
    padding: 0;
    margin: 0;
}

html,
body {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    background: url(../images/login_bg.jpg) no-repeat center;
    background-size: cover;
}



.loginAndreg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* align-self: center;
    justify-items: center; */
    width: 500px;
    height: 300px;
    background-color: #fff;

}

.logintitle {
    height: 60px;
    background: url(../images/login_title.png) no-repeat center;
}

.regbox {
    display: none;
}

.layui-form {
    padding: 0 30px;
}

.layui-form-item {
    text-align: right;
    position: relative;
}

.layui-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.layui-input {
    padding-left: 30px;
}